@font-face {
    font-family: 'BerkshireSwash';
    src: url(../fontes/BerkshireSwash-Regular.ttf);
}

@font-face {
    font-family: 'DancingScript';
    src: url(../fontes/DancingScript-VariableFont_wght.ttf);
}